{% extends 'base.html' %}
{% block content %}

<div class="row">
  <h1>Задача: {{task.title}}</h1>
</div>

<div class="row">

  <div class="col">
    <h3>Описание: </h3>
    <p>{{task.description}}</p>
    <h3>Статус:</h3>
    <p>{{task.status}}</p>
    <h3>Срок сдачи:</h3>
    <p>{{task.deadline}}</p>
  </div>

  <div class="col-8">
    <h3>Список сотрудников работающих над задачей:</h3>
    <table class="table table-striped table-hover">
      <thead>
      <tr>
        <th scope="col">ФИО:</th>
        <th scope="col">Должность:</th>
      </tr>
      </thead>
      <tbody>
      {% for employee in employees %}
      <tr>
        <td>{{employee.full_name}}</td>
        <td>{{employee.position}}</td>
      </tr>
      {% endfor %}
      </tbody>
    </table>
  </div>

</div>

{% endblock content %}
